.theme {
  display: flex;
  justify-content: center;
  color: var(--on-surface-big);
  transition: 0.5s;

  &__card {
    display: flex;
    height: 100%;

    &__heading {
      width: 27%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__content {
      width: 73%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 4vw;

      &__switch {
        width: 80px;
        max-width: 60px;
        height: 50%;
        background-color: var(--surface-variant);
        display: flex;
        justify-content: flex-start;
        border-radius: 50px;
        padding: 8px;
        cursor: pointer;
        align-items: center;
        transition: 0.5s;

        &__handle {
          width: 50%;
          background-color: var(--primary);
          border-radius: 40px;
        }

        &__handle:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
      }

      &__switch[data-is-on="true"] {
        justify-content: flex-end;
      }

    }
  }
}