.song {
  background-color: var(--surface);
  box-shadow: var(--box-shadow);
  margin-bottom: 16px;
  height: 7vh;
  min-height: 64px;
  width: 85vw;
  border-radius: 20px;
  cursor: pointer;
  display: flex;

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24%;
    max-width: 100%;

    color: var(--on-surface-big);
  }

  &__info {
    padding-left: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &__title {
      display: flex;
      align-items: center;
      font-size: 1.1rem;
      color: var(--on-surface-big)
    }

    &__creator {
      color: var(--on-surface-small);

    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    width: 50px;
  }

}