.lyrics {
  height: calc(100vh - 70px);

  &__selected {
    height: 100%;
  }

  &__not-selected {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    color: var(--on-background);
    font-size: 1.3rem;
  }
}

